$font-family: "Courier New", sans-serif;
$font-size: 14px;
$main-color: #e1e2ee;
$button-background-color: #202123;
$button-border: transparent;
$button-border-width: 5px;
$button-border-radius: 5px;
$button-color: #fff;
$button-padding: 5px 10px;
$hover-color: #313234;
$scrollbar-color: #757678;
$scrollbar-track-color: #343541;